.post-container {
    border: 1px solid #ededed;
    width: 300px;
    margin-bottom: 1rem;
}

.post-header {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.post-footer {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
}

.user-photo {
    height: 30px;
    width: 30px;
    margin-right: 1rem;
    border-radius: 50%;
}

.post-photo {
    width: 100%;
}