.comment-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.input-comentario {
    width: 100%;
    margin-right: 5px;
    padding: .5rem;
    border-radius: 15px;
    border: 1px solid #d1d1d1;
}

.comment-button {
    padding: .5rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}