* {
  margin: 0;
  padding: 0;
  color: #1E1E1E;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #EFEFEF;
}

header {
  background-color: tomato;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav div {
  padding: 0 1rem;
  margin: 1rem;
}

main {
  margin: 1rem;
}

section {
  margin: 1rem;
  width: 100%;
  height: 100%;
}

div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200PX, 4fr));
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;
}

div.card {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

div.card img {
  width: 100%;
  height: 150px;

}

h3 {
  padding: 1rem;
}

a {
  padding: 0.5rem;
  text-decoration: none;
}

.card a {
  font-size: 14px;
}


footer {
  height: 80px;
  width: 100%;
  background-color: #1E1E1E;
  color: #EFEFEF;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }

  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  h3 {
    padding: 1rem 0;
    font-size: 16px;
  }

  main {
    margin: 0;
  }
}